.messageWrapper{
    background-color: $blue;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: grid;
    place-content: center;
    border-radius: 100%;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
  }