@import 
'./components/_TableNav.scss',
'./components/_TableContainer.scss';

.tableComponent{
    width: 90%;
    margin: 0 auto;
    height: 100vh;

    @media screen and (min-width:960px) {
        width: 60%;    
        margin: 1rem auto;
    }

    .tableFooter{
        margin: .2rem 0;
        display: flex;
        align-items: center;
        margin-right: 0;
        padding: 0 1rem;
        float: unset;

        @media screen and (min-width: 960px) {    
            margin-right: -1.2rem;
            float: right;
        }

        .tableFooterPage{
            color: $text-color;
            font-size: .9rem;
        }

        .tableFooterArrow{
            font-size: 1.5rem;
            cursor: pointer;

        }

    }

    .copyright{
        font-size: .8rem;
        text-align: center;
        margin-top: 2rem;
    }
}

.tableContainer{
    margin: 1rem 0;
    width: 100%;
    background: rgba(#fff, .25);
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2.5px 10px rgba(#000, .1);

    @media screen and (min-width: 960px) {
        border-radius: 20px;
        padding: 0 3rem;
    }
}