@import './components/_MobileStyle.scss';
@import './components/_Notification.scss';
@import './components/_Search.scss';
@import './components/_Pricing.scss';
@import './components/_Money.scss';
@import './components/_User.scss';

$gray: rgba(black, .3);
$red: rgba(red, .5);
$text: rgba(black, .75);

@mixin itemsStyles {
    display: flex;
    align-items: center;
    border-left: 1px solid $gray;
    cursor: pointer;
    padding: .5rem 1.5rem;
}

@mixin itemsCenter {
    display: flex;
    align-items: center;
}

@mixin btnStyle{
    @include itemsCenter;
    font-size: 1.5rem;
    padding-right: 1rem;
    border: none;
    background: none;
    display: inline;

    @media screen and (min-width: 960px) {
        display: none;
    }
}

.topnav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1;
    position: relative;
    
    @media screen and (min-width: 960px) {            
        display: flex;
        padding-left: 3rem;
    }

    h1{
        font-size: 1.2rem;
    }

    .primary-nav-wrapper{
        display: none;

        @media screen and (min-width: 960px) {            
            @include itemsCenter;
        }

        div{
            margin: 0 1rem;
        }

        ul{
            padding-left: 1rem;
        }

        .primary-nav-items{
            @include itemsCenter;
            margin: 0;
        }

    }

    // Side bar btn
    .sidebar-btn{
        @include btnStyle;
        border-right: 1px solid $gray;
    }

    // Top bar btn
    .topbar-btn{
        @include btnStyle;
    }

}