// breakpoints

@mixin breakpoints($point){
    @if $point == desktop {
        @media (min-width: 1024px) {
            @content;
        }
    }

    @else if $point == tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
}