// scss variables
$blue: #2E81E3;
$primary: #8AC2FA;
$secondary: #F4C3C7;
$text-color: #2D2350;
$active-button: #F2F1F8;

// Imports module scss
@import 
'./components/table/_Table.scss', 
'./components/_Message.scss',
'./components/sidenavigation/_SideNav.scss',
'./components/topnavigation/_TopNav.scss';

// reset body styles
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, $secondary, $primary);
    background-attachment: fixed;
}

.dashboard-body{
    max-width: 1536px;
    margin: auto;
    height: auto;
}