@mixin sidenavLayout {
    color: rgba(#000, .8);
    background-color: #fff;
    height: 100%;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 10px 15px rgba(#000, .15);
    width: auto;
    display: flex;
    z-index: 10;
    position: absolute;
    top: 3rem;
    transition: 500ms ease;

    ul{
        padding: 0;
        list-style: none;

        li{
            margin: 1rem 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            
            &:hover{
                color: $blue;
            }
        }

        
    }

    div{
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover{
            color: $blue;
        }
    }
    

    span{
        font-size: 1rem;
        margin-left: .5rem;
        text-transform: uppercase;
    }

    @media screen and (min-width: 960px) {
        height:100vh;
        align-items: center;
        position: relative;
        left: unset;
        top: unset;
        padding: 1rem;

        span{
            font-size: .75rem;
        }
        
    }
}

.sideNavigation{
    left: 0;
    @include sidenavLayout;

}

.sideNavigation-hide{
    left: -100%;
    @include sidenavLayout;
    
    span{
        display: none;
    }
}

.sidebar-dropdown{
    display: flex;
    flex-direction: column;
    background: #FF0000 ;
}