@mixin shadow {
    box-shadow: 0 2.5px 2.5px rgba(#000, .1);    
}

.table-navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: $text-color;

    @media screen and (min-width: 960px) {    
        flex-wrap: nowrap;
        margin-left: -2rem;
    }

    h1{
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;

        @media screen and (min-width: 960px) {
            
            width: auto;
        }
    }

    .primary-links{
        display: none;

        @media screen and (min-width: 769px) {
            display: flex;

            button{
                
                @include shadow;

                margin: 0 1.2rem;
                cursor: pointer;
                border: 1px solid #fff;
                border-radius: .5rem;
                padding: .5rem 1rem;
                backdrop-filter: blur(5rem);
                background: rgba(#fff, .25);
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: .5px;
                color: $text-color;
            }
    
            button:active{
                background: $active-button;
            }
        }
        
    }

    select{

        @media screen and (min-width: 769px) {
            display: none;

        }
        @include shadow;

        outline: none;
        padding: .5rem 1rem;
        border: 1px solid #fff;
        background: rgba(#fff, .25);

        option{
            background: #fff;
            color: $text-color;
        }
    }
}