.table{

    .price-color{
        color:$blue;
    }

    .tableHeadCell{
        text-transform: uppercase;
        font-weight: 500;   
        font-size: 1rem;
    }

    .text-blue{
        color: $blue;
        display: flex;
        place-items: center;
    }

    .tableBodyRow{
        background: #fff;

        .bold{
            font-weight: 600;
        }
    }

}