.mobile-btns{
    display:flex;
    
    button{
        margin-left: 1rem;
    }

    @media screen and (min-width: 960px){
        display:none;
    }
}

.mobile-dropdown-show{
    display: grid;
    grid-template-rows: repeat(3, auto );
    grid-gap: 1rem;
    background: #fff;
    padding: 1rem;

    div{
        display: flex;
        justify-content:space-between;
    }

    @media screen and (min-width: 960px) {
        display: none;
    }
}

.mobile-dropdown-hide{
    display: none;

    @media screen and (min-width: 960px) {
        display: none;
    }
}