.money{
    display: flex;
    align-items: center;
    font-size: .9rem;

    span{
        font-weight: 600;
    }

    .add-icon{
        color: rgb(214, 41, 214);
        font-size: 1.4rem;
        margin-left: .5rem;
    }

    @media screen and (min-width: 960px){
        padding: .25rem 1.5rem;
        border-left: 1px solid rgba(#000, .3);
    }
}