// notification style
.notification{
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;

    span{
        top: 0;
        right: 0;
        position: absolute;
        background-color: #FF0000 ;
        display: grid;
        place-items: center;
        font-size: .75rem;
        color: #fff;
        width: 13px;
        height: 13px;
        border-radius: 100%;
    }

}