.pricing{
    display: flex;
    align-items: center;
    border-left: unset;
    cursor: pointer;
    padding: 0;
    font-size: .9rem;
    text-align: center;
    color: rgba(#000, .75);

    .add-icon{
        font-size: 1.25rem;
        margin-right: .5rem;
    }

    @media screen and (min-width: 960px){
        padding: .25rem 1.5rem;
        border-left: 1px solid rgba(#000, .3);
    }
}