.search{
    display: flex;
    align-items: center;
    width: auto;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid rgba(#000, .3);
    color: rgba(#000, .3);
    border-radius: 5px;
    padding: .25rem;

    input{
        border: none;
        outline: none;
        width: 100%;
    }

    @media screen and (min-width: 960px){
        width: 15rem;
    }
}