@mixin dropdownLayout {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    overflow-x: hidden;
    position: relative;

    li{
        width: fit-content;
        letter-spacing: .5px;
        font-weight: 600;
        font-size: .75rem;
        color: $text-color;
        padding: 1rem 1rem 1rem 5rem;
        width: 100%;
        cursor: pointer;
    }

    li:hover{
        background: rgba(#fff, .75);
    }

    @media screen and (min-width: 960px) {
        right: 0;
        position: absolute;
        border-radius: .5rem;
        margin-top: 3rem;
        background: #c7e3ff;

        li{
            padding: 1rem;
            margin: 0;
        }
    }
}


.userwrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    @media screen and (min-width: 960px) {
        align-items: center;
        border-left: 1px solid rgba(#000, .3);
    }

    .user{
        display: flex;
        align-items: center;
        cursor: pointer;
    
        span{
            color: rgba(#000, .75);
            margin: 0 .25rem;
            font-size: .9rem;
        }
    
        .add-icon{
            color: rgba(#000, .9);
            font-size: 1.4rem;
            margin-left: 0;
        }
    
        @media screen and (min-width: 960px){
            padding: .25rem 0;

            .add-icon{
                margin-left: .5rem;
            }
        }
    
    }    
    
    .diamond{
        right: 0;
        top: 40px;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: #c7e3ff;
        transform: rotate(45deg);
        border-radius: 1px;
        margin-top: 10rem;
        display: none;

        @media screen and (min-width: 960px) {
            display: inline;
        }
    }

    .dropdown-show{
    
        @include dropdownLayout;
    }

    .dropdown-hide{
        display: none;
    }
}